@import'fonts.css';
/* root */
:root{
    --f400: 'R400';
    --fs700:'RS700';
    --f400:'R400';
    --m-color: #7177F1;
    --dark-text: #323232;
    --light-text: #FFFFFF;
    
    --theme-color: #323232;
    --theme-bg: #FFFFFF;
    --theme-info: #FFFFFF;  
    --theme-link: #7177F1;
}
@media(prefers-color-scheme: dark){
    :root{
        --theme-bg: #151437;
        --theme-color: #FFFFFF;
        --theme-info: #7177F1;
        --theme-link: #FFFFFF;
    }
}
body{
    font-family: var(--f400);
    background: url(../img/bg.png);
    background-color: var(--theme-bg);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.title{
    color: var(--m-color);
    font-family: var(--fs700);
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
}
.button{
    display: inline-block;
    background: var(--m-color);
    color: var(--light-text);
    padding: 12px 58px 13px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;  
    border-radius: 8px;
    transition: 250ms;
}
.button:hover{
    box-shadow: 0px 0px 15px 1px rgba(113, 119, 241, 0.5);
    color: var(--light-text);
}
/* nav */
.nav-max{
    width: max-content;
}    

.nav-position{
    padding: 18px 0 17px;
}

.nav__link {
    display: inline-block;
    font-family: var(--f400);
    font-size: 24px;
    line-height: 16px;
    color: var(--m-color);
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 8px;
    transition: color 250ms, background 250ms;
    
}

.nav__link:hover{
    background: var(--m-color);
    color: var(--light-text);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
}

.nav__menu{ 
    align-items: center;
    
}
/* Slider */
.carousel{
    padding: 30px 0 81px;
    margin-bottom: 77px;
}
.carousel [data-target]{
    background: #828282;
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
}
.carousel [data-target].active{
    background: var(--m-color);
}
.carousel__info{
    max-width: 520px;
}
.carousel___brands{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}
.carousel__brands-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel__title{
    font-size: 24px;
    line-height: 22px;
    font-family: var(--fs700);
    margin-bottom: 10px;
    color: var(--theme-color);
}
.carousel__btn{
    margin: auto;
    display: block;
    width: max-content;
    margin-top: 25px;
}
.carousel__brands-text{
    margin-top: 15px;
    font-size: 20px;
    line-height: 25px;
    font-family: var(--fs700);
    color: var(--m-color);
    text-transform: uppercase;
}
/* Info */
.info__img{
    margin: auto;
    display: block;
}
.info__btn{
    box-shadow: 0px 0px 15px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 24px 30px 23px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--f400);
    font-size: 18px;
    line-height: 18px;
    margin-top: 14px;
    background: var(--theme-info);
    color: var(--theme-color);
}
.info__target{
    position: absolute;
}
.article__text{
    font-family: var(--f400);
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: var(--theme-color);
}
.info__article{
    box-shadow: 0px 0px 15px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 28px 30px;
    background: var(--theme-bg); 
}
.info__text{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0FDAC2;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -10px;
    color: var(--theme-color);
    font-family: var(--fs700);
}
/* Capabilities */
.capabilities{
    padding: 92px 0 60px;
}
.capabilities__inner{
    margin-top: 45px;
}
.accardion_posititon{
    margin-right: 30px;
    border-radius: 8px;
    background: var(--theme-bg);
}
.card{
    border: 0;
}
.card__btn{
    background: var(--m-color);
    border-radius: 0;
    padding: 15px 30px;
}
.card__btn.collapsed{
    background: var(--theme-bg);
}
.btn__text{
    font-family: var(--fs700);
    font-size: 18px;
    line-height: 22px;
    margin: 0 20px;
    color: var(--light-text);
}
.card__btn.collapsed .btn__text{
    color: var(--m-color);
}
.card_radius{
    background: var(--m-color);
}
.card_radius:first-of-type{
    border-radius: 8px 8px 0 0;
}
.card_radius:last-of-type{
    border-radius: 0 0 8px 8px;
}
.btn__dropdown{
    color: var(--light-text);
    transition: 500ms;
}
.card__btn.collapsed .btn__dropdown{
    transform: rotate(-180deg);
    color: var(--m-color);
}
.btn__icon{
    font-size: 25px;
    color: var(--light-text);
}
.card:nth-of-type(1) .card__btn.collapsed .btn__icon{
    color: #E44F26;
}
.card:nth-of-type(2) .card__btn.collapsed .btn__icon{
    color: #1572B6;
}
.card:nth-of-type(3) .card__btn.collapsed .btn__icon{
    color: var(--m-color);
}
.card__body{
    padding: 25px 30px 33px;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--f400);
    color: var(--light-text);
}
.capabilities__img{
    margin-left: 30px;
    width: 100%;
    object-fit: cover;
}
/* Works */
.works__nav{
    margin: 30px 0 220px; 
}
.works__nav-link{
    color: var(--m-color);
    font-family: var(--fs700);
    font-size: 18px;
    line-height: 22px;
    background: var(--theme-bg);
    padding: 19px 20px;
}
.works__nav-link.active{
    background: var(--m-color);
    color: var(--light-text);
}
.works__nav-link:first-of-type{
    border-radius: 8px 8px 0 0;
}
.works__nav-link:last-of-type{
    border-radius: 0 0 8px 8px; 
}
.tab-content{
    background: var(--theme-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
}
.works__tab-title{
    color: var(--m-color);
    font-size: 24px;
    line-height: 29px;
    font-family: var(--fs700);
    margin-bottom: 25px;
}
.works__tab-text{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--f400);
    text-transform: capitalize;
    color: var(--theme-color);
}
.works__tab-img{
    height: 353px;
    display: flex;
}
/* Footer */
.footer{
    padding-bottom: 133px;
}
.footer__nav{
    padding: 0;
}
.footer__nav-link{
    font-family: var(--f400);
    font-size: 24px;
    line-height: 29px;
    color: var(--theme-link);
    margin: 15px 25px 0;
}
.footer__logo{
    margin-bottom: 15px;
    margin: auto;
    display: block;
}
.footer__logo path:nth-of-type(2){
    fill: var(--theme-color);
}
/* Media */
@media screen and (max-width: 1199px){
    .info__article{
        margin-top: 15px;
    }
}
@media screen and (max-width: 991px){
    .nav__link{
        margin: 10px 0 0 0;
        display: block;
    }
    .nav-max{
        width: 100%;
    }
    .nav__menu{
        align-items: flex-end;
        padding-top: 20px;
    }
    /* .nav__btn{
        margin-right: 8px;
    } */
    .carousel__info{
        max-width: 100%;
    } 
    .carousel__wrap{
        align-items: center !important;
    }
    .accardion_posititon{
        margin-right: 0;
    }
}
@media screen and (max-width: 800px){
    .carousel___brands{
        display: none;
    }
    .carousel__img{
        margin-top: 20px;
    }
}
@media screen and (max-width: 580px){
    .carousel__wrap{
        order: 1;
    }
    .title{
        font-size: 24px;
        line-height: 26px;
    }
    .button{
        font-size: 14px;
        text-align: center;
    }
    .info__text{
        font-size: 14px;
        line-height: 18px;
    }
}
@media screen and (max-width: 450px){
    .works__tab-text{
        display: none;
    }
    .footer__nav{
        flex-direction: column;
        align-items: center;
    }
    .footer__nav-link{
        font-size: 14px;
        text-align: center;
    }
}
@media screen and (max-width: 330px) {
    .logo{
        width: 200px;
    }
}